{% extends "_layout.html" %}
{% block body %}

<!-- Productes, categories, id -->
    <h2> {{category.upper()}} </h2>
    <div>
        <a href="/products" class="m-3 p-3">Productos</a> 

        <!-- Posem un condicional. A dalt l'hem posat inline -->
        <a href="/products/{{category}}" class="m-3 p-3">{{category.capitalize()}}</a> 
        
        <a href="/products/{{category}}/{{id}}" class="m-3 p-3"> Id: {{id}}</a>
        <hr>
    </div>

    <h3> Producto - {{id}}</h3>
    <hr>

    <p>
    Com treballa el jinja2: <br> Entre dues claus podem posar les variables que rebem de l'arxiu py. 
    A les variables els podem aplicar les seves funcions o mètodes <br> Els bucles els posem entre
    un clau i un %.
    </p>
    <ol>
        <li>Variable Categoria >> {{category}}</li>
        <li>Variable Id >> {{id}}</li>
    </ol>
    <hr>
    <h2 class="text-center">Exemple de taula amb for de jinja</h2>
    <div class="container">
        <table id="taula" class="mx-auto" >
            <thead class="text-center border border-light">
                <th class="p-3 m-2 ">Indice</th>
                <th class="p-3 m-2 ">Enlace</th>
                <th class="p-3 m-2 ">Descripció</th>
                <th class="p-3 m-2 ">Indice Bamba</th>
                <th class="p-3 m-2 ">Bamba</th>
            </thead>
            <tbody class="p-3">
                {% for i in range(10) %}
                <tr class="border border-light text-center">
                    <td class="p-3 m-2"> {{i}} </td>
                    <td class="p-3 m-2"><a href="#"><h6> Producto </h6>  </a></td>
                    <td class="p-3 m-2" > Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Atque, assumenda nesciunt? Ipsa natus magni laborum, cupiditate cum porro quae,
                        quia, exercitationem unde ipsum repellendus aperiam tenetur saepe consectetur
                         dolorum nostrum? </td>
                    <td class="p-3 m-2"> Bamba {{i+1}} </td>
                    <td class="p-3 m-2"><img src="/static/images/bamba{{ i+1 }}.jpg" width="150" height= "150" alt="bamba"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>   
{% endblock %}