<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routes</title>
</head>
<body>
    <h2> {{category.upper()}} </h2>
    <a href="/products/{{category}}/{{id}}"> Products >> {{category}} >> {{id}}</a>
    <hr>
    
    <a href="/products">Productos</a><br>
    <a href="/products/{{category}}">{{category.capitalize()}}</a><br>
    <a href="/products/{{category}}/{{id}}">{{id}}</a>
    <hr>

    <h3> Producto - {{id}}</h3>
    <hr>
    
    <p>Entre dues claus podem posar les variables que rebem de l'arxiu py <br>
    Aqui és on treballa el jinja. A les variables li podem aplicar les seves funcions o mètodes
    </p>
    <ol>
        <li>Variable Categoria >> {{category}}</li>
        <li>Variable Id >> {{id}}</li>
    </ol>
    <hr>
</body>
</html>