<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routes</title>
</head>
<body>
    <h2> {{category.upper()}} </h2>
    <a href="/products/{{category}}/{{id}}"> Products {% if category %}} >> {{category}}
        {% endif %} >> {{id}}</a>
    <hr>
    
    <a href="/products">Productos</a><br>
    {% if category %}  <!-- Posem un condicional. A dalt l'hem posat inline -->
    <a href="/products/{{category}}">{{category.capitalize()}}</a><br>
    {% endif %}
    <a href="/products/{{category}}/{{id}}">{{id}}</a>
    <hr>

    <h3> Producto - {{id}}</h3>
    <hr>
    
    <p>Entre dues claus podem posar les variables que rebem de l'arxiu py <br>
    Aqui és on treballa el jinja. A les variables li podem aplicar les seves funcions o mètodes
    </p>
    <ol>
        <li>Variable Categoria >> {{category}}</li>
        <li>Variable Id >> {{id}}</li>
    </ol>
    <hr>
    <p>Exemple de taula amb for de jinja</p>
    <table border="1" >
        <thead>
            <th>Dato</th>
        </thead>
        <tbody>
            {% for i in range(10) %}
            <tr >
                <td style="padding: 3px;"> {{i}} </td>
                <td style="padding: 3px;"><a href="#"><h4> Producto </h4></a></td>
                <td style="padding: 3px;"> Descripció producte </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>       
</body>
</html>