body {
    margin: 0;
    padding: 10px;
    background-color: rgb(218, 213, 155);
}

img {
    
    border: 2px rgb(82, 85, 82) solid;
    border-radius: 10%;
    
}

a {
    text-decoration: none;
}

#taula {
    background-color: rgb(144, 160, 143);
    border: 2px rgb(82, 85, 82) solid;
}

td {
    max-width: 400px;
}

